body {
  background-color: rgb(249, 249, 249);
  font-family: Arial, Helvetica, sans-serif;
}
.queue-ticket-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  border-radius: 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.763);;
}

label, select, button {
  font-size: 18px;
  margin-bottom: 25px;
}

button {
  cursor: pointer;

}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.headTitle {
    font-size: 24px;
    font-weight: 700;
}

.User {
    font-weight: 700;
    font-size: 17px
}

.dash-title {
    color: white;
    margin-bottom: 45px;
    margin-top: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background-color: #f8f8f8;
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}

input:focus {
    border-color: #b72424;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #000000;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
}

.del {
    margin-left: 5pxcd ;
}

aside {
    box-shadow: 0px 0px 52px rgba(0, 0, 0, 0.847);
    z-index: 999;
}

main {
    z-index: 1;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete:hover {
    background-color: #c50e0e;
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    margin-left: 10px;
    background-color: #c52727;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.1s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: #ff0000;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #b72424;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

header {
    box-shadow: 0px 0px 52px rgba(0, 0, 0, 0.847);
    z-index: 500;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.title_form {
    margin-bottom: 20px;
    font-weight: 700;
    color: #f00b0b;
    text-transform: uppercase;
}

.reset {
    /* margin-left: 25px; */
    border: none;
}

.reset_title {
    text-align: start;
    text-transform: uppercase;
    font-weight: 700;
    color: #b50808;
}

.reset_manual {
    margin-top: 15px;
    color: black;
}

.btn_reset {
    font-weight: 700;
    transition: 0.4s ease;
    margin-top: 15px;
}

.btn_reset:hover {
    background-color: black;
}

.veolia_logo {
    align-items: center;
    width: 45%;
    position: relative;

    margin-top: 25px
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.btn btn-block {
    background-color: #f00b0b;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

/* .login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #b72424;
    text-decoration: none;
} */

.message {
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.message a {
    text-decoration: none;
    color: #a60218;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.2s ease;
}

.message a:hover {
    color: black;
}
/* Login/Signup form */


#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 240px;
    background-color: #a60218;
    padding: 1rem
}

#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
}


/* FILE D'ATTENTE */



.container_file_attente {
    display: flex;
    text-align: center;
    justify-content: center;
}

.queue {
    height: 250px;
    width: 300px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.785);
    font-weight: 600;
    cursor: pointer;
}


.next_box {
    height: 115px;
    width: 100%;
    background-color: #00a762;
    color: white;
    border-radius: 15px;
    padding-top: 28%;
    margin-left: 35px;
    transition: 0.2s ease-in-out;    
    cursor: pointer;
}

.next_box:hover {
    box-shadow: 0px 0px 25px #00a762;
}

.previous_box:hover {
    box-shadow: 0px 0px 25px #b50808;
}

.reset_queue:hover {
    box-shadow: 0px 0px 25px #f97026;
}

.previous_box {
    height: 115px;
    width: 100%;
    background-color: #b50808;
    color: white;
    border-radius: 15px;
    padding-top: 28%;
    margin-left: 35px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.reset_queue {
    height: 250px;
    width: 300px;
    background-color: #f97026;
    border-radius: 15px;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 70px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.reset_text {
    margin-top: 29%;
}

.number_in_queue {
    position: relative;
    color: white;
    font-size: 60px;
    margin-top: 27%;
}

.next_text {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.previous_text {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase
}



/* FILE D'ATTENTE */


.database-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 40px;
  }

.users_title {
    font-weight: 700;
    color: #df0c0c;
}
  
  .database-table th,
  .database-table td {
    padding: 10px;
    text-align: center;
  }
  
  .database-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .database-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .database-table tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

.userFile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





































.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}